{% extends 'base.html' %}

{% block content %}


<div class="page-header" style='margin-top: 5em;'>
    <h2>{%if not listview %}Genre: {%endif%}{{name}}</h2>
</div>


<div class='row'>
    {%if films%}
    <div class="list-group clearfix">

        {% for f in films %}
        <a class='list-group-item clearfix' href="/films/{{f.id}}">
            <div class='pull-left'><img class='img-rounded img-responsive' style='margin-right: 12px' src={{f.imageURL}} width="70px">
            </div>
            {% if f.favorite %}
            <span class="fa fa-star checked"></span>
            {% endif %}
            {{ f.title }} - <small>{%if f.isSerie %} Series
                {% else %}
                Film
                {% endif%}
            </small>
            <br>
            <small>
                Starring: {% for actor in f.starring.all %}
                {{actor}},
                {% endfor %}
                <br>
                {% if f.isSerie%}
                Number of episodes: {{f.nrEpisodes}}
                {% else %}
                Length: {{f.duration}}
                {% endif %} | Released {{f.releaseDate|date:"M Y"}}
                <br>
                Genres: {% for genre in f.genre.all %}
                {{genre}},
                {% endfor %}
                <br>
                {{f.modified|date:"d M Y"}}: {{f.get_status_display}}
                {% if f.status == "SEEN"%}
                {% for i in '01235'|make_list %}
                {% if forloop.counter > f.ownRating %}
                <span class="fa fa-star"></span>
                {% else %}
                <span class="fa fa-star checked"></span>
                {% endif %}
                {% endfor %}
                {% endif %}
            </small>
        </a>
        {%endfor%}
    </div>


    {% else %}
    <div class='panel-body'>
        <h4>This list is still empty</h4>
    </div>
    {% endif %}

    {%if not listview%}
    <br>
    Find more {{name}} films <a href="https://www.imdb.com/search/title/?genres={{name}}&explore=title_type,genres&ref_=tt_ov_inf" target="_blank">on IMDb</a>
    <a href="{% url 'films:index' %}" class="btn btn-default pull-right">
        Home
    </a>
    <br><br><br><br>
    {% endif %}

</div>






{% endblock %}

